



<form [formGroup]="myForm">
  name:
  <input type="text" formControlName="username"       >
  <!--[disabled]="true"-->
  password:
  <input type="password"
         name="password">
  <!--  [required]="true"-->
<!--  <label>-->
<!--    status:-->
<!--    <input type="checkbox" name="status" [(ngModel)]="user.status">-->
<!--  </label>-->

<!--  <label>-->
<!--    Gender:-->
<!--    <input type="radio" name="gender" value="male" [(ngModel)]="user.gender">-->
<!--    <input type="radio" name="gender" value="female" [(ngModel)]="user.gender">-->
<!--  </label>-->
<!--  &lt;!&ndash;    <select name="level" [(ngModel)]="user.level"  multiple>&ndash;&gt;-->
<!--  level:-->
<!--  <select name="level" [(ngModel)]="user.level" >-->
<!--    <option value="junior" > junior</option>-->
<!--    <option value="middle" > middle</option>-->
<!--    <option value="senior" > senior</option>-->
<!--  </select>-->

  <button>save</button>
</form>

