.center{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.start{
  justify-content: start;
  text-align: start;
  align-items: start;
}
.inf{
  background-color: silver;
  margin: 1px;
  padding: 3px;
}
.flex{
  display: flex;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.wrap{
  width: 100%;
  box-sizing: border-box;
  border: solid 3px pink;
  margin: 3px;
}
.w25{
  width: 25%;
}
.w75
{ width: 75%;}
.w100{
  width: 100%;
}

.green{
  background-color: lightgreen;
};
.blue{
  background-color: cornflowerblue;
}
.borderTop{
  border-top: orange solid 2px;
}
