.card{
  height: 95px;
  background-color: orange;
  margin: 5px;
  padding: 2px;
  border: solid black 1px;
  box-sizing: border-box;

}
.center{
  justify-content: center;
  text-align: center;
  align-items: center;
}
