.inf{
  background-color: silver;
  margin: 1px;
  padding: 3px;
}
.flex{
  display: flex;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.wrap{
  width: 100%;
  background-color: darkturquoise;
}
//.w25{
//  width: 25%;
//}
//.w75
//{ width: 75%;}
