.center{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.inf{
  background-color: silver;
  margin: 1px;
  padding: 3px;
}
.flex{
  display: flex;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.wrap{
  width: 100%;
  box-sizing: border-box;
  border: solid 3px blue;
  margin: 3px;
}
.w25{
  width: 25%;
}
.w75
{ width: 75%;}

