

<form #tref (ngSubmit)="save(tref)" >
  name:
<input type="text"
       name="username" [(ngModel)]="user.username">
<!--[disabled]="true"-->
  password:
  <input type="password"
         name="password" [(ngModel)]="user.password">
<!--  [required]="true"-->
  <label>
    status:
    <input type="checkbox" name="status" [(ngModel)]="user.status">
  </label>

    <label>
      Gender:
      <input type="radio" name="gender" value="male" [(ngModel)]="user.gender">
      <input type="radio" name="gender" value="female" [(ngModel)]="user.gender">
    </label>
<!--    <select name="level" [(ngModel)]="user.level"  multiple>-->
     level:
      <select name="level" [(ngModel)]="user.level" >
<option value="junior" > junior</option>
      <option value="middle" > middle</option>
      <option value="senior" > senior</option>
    </select>

  <button>save</button>
</form>

