
<form [formGroup]="myForm" (ngSubmit)="save()" >
  Choose User REACTIVE
  <select  name="Choose User " [formControl]="id" >
    <option   *ngFor="let user of users"  [value]="user.id" > {{user.name}}-{{user.id}}</option>
      </select>

  <div class="flex center column ">
<div  *ngIf="myForm.controls.id.errors"   class=" red p2">
  <span *ngIf="myForm.controls.id.errors.alarm"> input required</span>
  <span *ngIf="myForm.controls.id.errors?.min">
     min value of ID is {{myForm.controls.id.errors?.min.min}}.
    current value is {{myForm.controls.id.errors?.min.actual}}  </span>

  <span *ngIf="myForm.controls.id.errors?.max">
     max value of ID is {{myForm.controls.id.errors?.max.max}}.
    current value is {{myForm.controls.id.errors?.max.actual}}  </span>
</div>

    <div  *ngIf="!(myForm.controls.id.errors)"   class=" green p2">
      !!!!ID is valid!!!!
    </div>

   <div >
    <button [disabled]="myForm.invalid">save</button>
  </div>

  </div>




</form>

