.inf{
  background-color: darkseagreen;
  margin: 1px;
  padding: 3px;
}
.flex{
  display: flex;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.wrap{
  width: 100%;
}
.w45{
  width: 45%;
}
.w55
{ width: 55%;}
