///* You can add global styles to this file, and also import other style files */
.center {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.start {
  justify-content: start;
  align-items: start;
  align-self: start;
  text-align: start;
}
.between{
  justify-content: space-between;
}
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.h100 {
  height: 100px;
}

%card {
  background-color: orange;
  margin: 5px;
  padding: 2px;
  border: solid black 1px;
  box-sizing: border-box;
}

///////////////////
@mixin cardH($heightValue ) {
  @extend %card;
  height: $heightValue;
}

.card {
  @include cardH(125px);
  &:hover {
    background-color: lightgreen;
  }
}

.cardUWP {
  @include cardH(auto)
}

////////////////
@mixin wrapW100M3($borderValue) {
  width: 100%;
  box-sizing: border-box;
  margin: 3px;
  padding: 2px;
  border: $borderValue;
    }
.wrapPOST {
  @include wrapW100M3(solid 5px blue);
}

.wrapComments {
  @include wrapW100M3(dashed 3px blue);

}

.wrapUWP {
  @include wrapW100M3(solid 2px darkturquoise);

}

.wrap {
  width: 100%;
  background-color: darkturquoise;
}

///////////////////

.w25 {
  width: 25%;
}

.w75 {
  width: 75%;
}

.w45 {
  width: 45%;
}

.w55 {
  width: 55%;
}

/////////////////
@mixin infPosts($backgroundValue,$marginValue, $paddingValue ) {
  background-color: $backgroundValue;
  margin: $marginValue;
  padding: $paddingValue;
}

.inf {
  @include infPosts(silver, 1px, 3px)

}

.postst {
  @include infPosts(orange, 2px, 3px)
}

////////////////////
@mixin ColorB($backgroundColorValue) {
  background-color: $backgroundColorValue
}

.userJson {
  @include ColorB(darkturquoise)
}

.postst2 {
  @include ColorB(darkgray)
}

.green {
  @include ColorB(lightgreen)
}

;
.blue {
  @include ColorB(cornflowerblue)
}

.red {
  @include ColorB(red)
}
////////////////
.borderTop {
  border-top: orange solid 2px;
}

.postst3 {
  border: solid 1px black
}

.qqq {
  @if (&) {
    background-color: brown;
  }
}
/////////
//@for $i from 1 through 250 {
  @for $i from 1 through 5 {
  app-comment:nth-child(#{$i*2}) {
    background-color: lightcoral;
    border: coral 5px solid;
              }
  }

.p2{
  padding: 1px 5px ;
}
