



<form [formGroup]="myForm" (ngSubmit)="save()" >
 <div>
   name:
   <input type="text" [formControl]="username"       >
   <span *ngIf="myForm.controls.username.errors?.required"> input required</span>
   <span *ngIf="myForm.controls.username.errors?.minlength">
     min length is {{myForm.controls.username.errors?.minlength.requiredLength}},
     actual length is {{myForm.controls.username.errors?.minlength.actualLength}}</span>
   <span *ngIf="myForm.controls.username.errors?.maxlength">
     max length is {{myForm.controls.username.errors?.maxlength.requiredLength}},
     actual length is {{myForm.controls.username.errors?.maxlength.actualLength}}</span>
 </div>
  <div>
    password:
    <input type="password"  formControlName="password">
  </div>

  <button [disabled]="myForm.invalid">save</button>
</form>

